<!DOCTYPE html>
<html>
  <head>
    <title>Slaq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.slackicon = '<%= image_url("slack.png") %>';
      window.waving_hand = '<%= image_url("waving-hand.gif") %>';
      window.woman_with_laptop = '<%= image_url("woman-with-laptop.png") %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
